
.icon-user:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-circle-thin:before { content: '\e802'; } /* '' */
.icon-flag-circled:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-lock-open-alt:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e818'; } /* '' */
.icon-reply:before { content: '\e81b'; } /* '' */
.icon-export:before { content: '\e81e'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e820'; } /* '' */
.icon-print:before { content: '\e821'; } /* '' */
.icon-down-open:before { content: '\e82f'; } /* '' */
.icon-left-open:before { content: '\e830'; } /* '' */
.icon-right-open:before { content: '\e831'; } /* '' */
.icon-up-open:before { content: '\e832'; } /* '' */
.icon-credit-card:before { content: '\e836'; } /* '' */
.icon-picture:before { content: '\e83b'; } /* '' */
.icon-cancel:before { content: '\e83d'; } /* '' */
.icon-download:before { content: '\e83e'; } /* '' */
.icon-vcard:before { content: '\e83f'; } /* '' */
.icon-trash:before { content: '\e840'; } /* '' */
.icon-newspaper:before { content: '\e841'; } /* '' */
.icon-down-dir:before { content: '\e844'; } /* '' */
.icon-left-dir:before { content: '\e845'; } /* '' */
.icon-right-dir:before { content: '\e846'; } /* '' */
.icon-up-dir:before { content: '\e847'; } /* '' */
.icon-level-down:before { content: '\e84c'; } /* '' */
.icon-to-end:before { content: '\e84d'; } /* '' */
.icon-to-start:before { content: '\e84e'; } /* '' */
.icon-doc-new:before { content: '\e855'; } /* '' */
.icon-ccw:before { content: '\e858'; } /* '' */