#center-alignment {
    -fx-alignment: center;
}

.alarm-button {
    -fx-text-fill : #FFFFFF;
    -fx-background-color: transparent;
}

.alarm-button:hover {
    -fx-text-fill : #0097a7;
    -fx-background-color: transparent, derive(#1d1d1d,30%);
}

.alarm-button:pressed {
    -fx-text-fill : #0097a7;
    -fx-background-color: transparent, derive(#1d1d1d,45%);
}

.table-button {
    -fx-background-color:transparent;
    -fx-label-padding: -2;
}
.table-button:hover {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color !important;
}
.table-button:focused {
    -fx-background-insets: 0, 0, 1, 1;
}

.hide-column-header .column-header-background {
    -fx-background-color: transparent; visibility: hidden; -fx-padding: -1em;
}
.table-view_1 .column-header {
    -fx-font-size: 13;
}

.table-view_1{
    -fx-background-insets: 0, 1, 2;
    -fx-font-size: 12;
}

.table-row-cell_1 .table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}

.table-row-cell_1 .table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell_1 .table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-10%);
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell_1 .table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}